<mat-toolbar>
  <mat-toolbar-row fxHide.lt-md>
    <div class="name-title" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
      <p class="mat-title">Since 1994</p>
      <p class="mat-headline">Ruan Heyns</p>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="content-list" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
    <a class="nav-link" href="#about">About</a>
    <a class="nav-link" href="#work">Work</a>
    <a class="nav-link" href="#contact">Get in touch</a>
  </mat-toolbar-row>
</mat-toolbar>
